header{
	text-align: center;
	color: #bddbfa;
	padding: 10px;
}

#container{
	width:100vw;
	/*height: 70vh*/;
	border:5px solid #bddbfa;
	overflow: hidden;
}

#buttonwrapper{
	margin: 0 auto;
	text-align: center;
}

#myButton {
	background-color:#bddbfa;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	padding:16px 31px;
	margin-top: 30px;
	margin-bottom: 15px;
	/*margin-left:45vw;*/
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

#myButton:hover {
	background-color:#80b5ea;
}
#myButton:active {
	position:relative;
	top:1px;
}